@charset "UTF-8";
 @import url(fonts/stylesheet.css);
/*General*/
form {
	clear: none;
	width: 70%;
}
div.donacion [class^="icon-"]:before, div.donacion [class*=" icon-"]:before, div.donacion [class^="icon-"]:after, div.donacion [class*=" icon-"]:after, div.donacion .artprojectgroup {
	font-size: 20px;
}
div.donacion {
	background: #FFFFFF;
	float: right;
	margin: 10px 0px;
	padding: 10px;
	width: 220px;
	text-align: center;
	position:absolute;
	top:128px;
	right:15px;
	border-left: 4px solid #7AD03A;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
div.donacion > div {
	padding: 10px;
	margin: 10px auto 0px;
	width: 190px;
	border-top: 1px solid #7AD03A;
}
div.donacion a {
	text-decoration: none;
}
.cabecera img {
	border-left: 4px solid #7AD03A;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
